.content {
  background-color: #f8f8f8;
  color: #333;
  font-family: lato, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.eisenhower-matrix {
  display: block;
  width: 500px;
}

.intro {
  width: 500px;
  display: block;
  text-align: right;
}

@media (max-width:768px) {

  .intro {
    text-align: center;
  }

}

.intro__image {
  width: 100%;
}

.intro__link {
  font-family: fantasy, cursive;
}

.tasks {
  padding-top: 13px;
}

.tasks-title {
  border-bottom: 2px solid #333;
  box-sizing: border-box;
  color: #333;
  font-weight: 700;
  font-size: 15px;
  margin: 0;
  padding: 30px 0 10px;
  text-transform: uppercase;
}

.new-task__wrapper {
  display: flex;
  margin: 20px 0 15px 0;
}

.task-input {
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  color: #888;
  display: inline-block;
  flex-grow: 1;
  font-family: lato, sans-serif;
  font-size: 18px;
  height: 21px;
  line-height: 18px;
  margin: 0;
  outline: none;
  padding: 0 9px;
  width: 56%;
}

.task-input:focus {
  color: #333;
}

.task-input_type_new {
  width: 318px;
}

.task-input_type_saved {
  display: none;
}

.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: lato, sans-serif;
  cursor: pointer;
  outline: none;
}

.button:hover {
  color: #3a3a3a;
}

.tasks-list {
  margin: 0;
  padding: 0px;
  list-style-type: none;
}

.task {
  overflow: hidden;
  padding: 18.5px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task__task-status {
  margin: 0 10px;
}

.task__buttons {
  display: flex;
  align-items: center;
}

.task-name {
  font-size: 18px;
  padding-left: 8px;
}

.task-name_style_completed-task {
  text-decoration: line-through;
  color: #888;
}


.task-name_style_edit-mode {
  display: none;
}

.delete-image {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.delete-image:hover {
  transform: rotateZ(0);
}